body {
  background-color: #ffdacc;
  font-family: 'Palatino', serif;
}

#title {
  text-align: center;
  color: black;
}

.alt-h1 {
  font-size: 25px;
  color: black;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #ff5050;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #808080;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #6666ff;
}
