.alt-h1 {
  font-size: 20px;
  color: black;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

table {
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: separate;
}

td {
  border-bottom: 1px solid black;
  padding: 4px 8px;
  text-align: center;
}

th {
  border-bottom: 1px solid black;
  padding: 4px 8px;
  background-color: #dddddd;
}

ul li:last-child {
  font-weight: bold;
}
